<% include ./partials/header %>

<div class="center">
    <h1>Show Page</h1>
    <h3><%= block.title %></h3>
    <% block.todos.forEach(function(todo) { %>
    <div>
        <% if(todo.complete==false){ %>
            <li class="completed"><%= todo.body %></li>
            <form action="/todo/<%= block._id %>/<%= todo._id %>/complete" method="POST">
                <label>Complete</label>
                <button></button>
            </form>
        <% } else { %>
            <li class="completed"><%= todo.body %></li>
        <% }%>
    </div>
    <% }); %>
    <form action="/todo/<%= block._id %>/new" method="GET">
        <button>Add To Do</button>
    </form> 
    <form action="/todo">
        <button>Return to Main Page</button>
    </form>
</div>
<% include ./partials/footer %>
